<div>
	<%= image_tag "fail-clyde.png", :alt => "Sad Clyde", :style => 'float:left;margin:25px' %>
</div>
<div style="float:left;margin:25px;width:400px">
	<%= flash_messages %>
	<p style="font-size:medium;padding-top:25px">Clyde says, "Please click <b>login</b> above and then try the page again."</p>
</div>