<div class="page-heading"><h2 class="melbourne">Reset Your Password</h2></div>

<div style="margin:35px">
		
	<%= flash_messages %>

	<p>Just enter your CloudSpokes username and we'll send you instructions on how to reset your password.</p>

	<%= form_for :form_forgot_password, :url => "/forgot_password_send" do |f| %>
	<div class="field">Username: <%= f.text_field :username %></div>
	<div class="actions"><%= f.submit "Send It!", :class => 'formsubmit' %></div>
	
	<% end %>
	
</div>		
		
