<div id="container">
	<div id="header">
		<img src="assets/cloudspokes-logo-hor.png" height="50">
		<div id="header_right"><a href="/login">Existing User? Login here!</a></div>
	</div>
	<div id="content" style="padding-top:30px;width:630px">
		
		<%= flash_messages %>
		
		<p>Just enter your CloudSpokes username and we'll send you instructions on how to reset your password.</p>
		
		<%= form_for :form_forgot_password, :url => "/forgot_password_send" do |f| %>
		  Username: <%= f.text_field :username %>&nbsp;&nbsp;&nbsp;<%= f.submit "submit" %>
		<% end %>
		
	</div>
	<div id="footer"></div>
</div>