<div class="page-heading">
    <h2 class="melbourne">Recalculate Home Page Stats</h2>
</div>

<div class="page-padding">
	The batch process has been kicked off with ID: <%= @results['message'] %>. You can monitor this job in Salesforce by going to Setup -> Administrative Setup -> Monitoring -> Apex Jobs.
</div>
