<div class="page-heading">
    <h2 class="melbourne">CloudSpokes Admin</h2>
</div>

<div class="page-padding">

	<p><a href="/admin/stats">View the Home Page Stats</a> - Call the SOAP web service and displays the stats as JSON for your viewing pleasure.</p>		
		
	<p><a href="/admin/blogfodder/0">Blog fodder</a> - Headstart for writing blog entries for a completed challenge.</p>
	
	<p><a href="/admin/delete_all_users">Delete all users</a> - This will delete all users from the local PG database which will essentially log everyone off of the site and force them to relogin.</p>
	
	<p><a href="/admin/display_settings">Display settings</a> - Displays the settings record with the shared oauth token.</p>
	
	<p><a href="/admin/refresh_token">Refresh shared token</a> - Fetches a new access token for the shared user and inserts it into pg</p>
	
</div>