<li>
	<h3>Share</h3>
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
	<a class="addthis_button_preferred_1"></a>
	<a class="addthis_button_preferred_2"></a>
	<a class="addthis_button_preferred_3"></a>
	<a class="addthis_button_preferred_4"></a>
	<a class="addthis_button_compact"></a>
	<a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ee9c6ae01a87600"></script>
	<!-- AddThis Button END -->
	<div class="cl">&nbsp;</div>
</li>

<div style="margin-top:25px">
<a href="https://chrome.google.com/webstore/detail/gdlkedihjlddoaplefphpmiibpnnpeap" target="_blank"><%= image_tag "chrome-extension.png", :width => "150px" %></a>
<p>Install the <%= link_to "CloudSpokes Chrome Extension", "https://chrome.google.com/webstore/detail/gdlkedihjlddoaplefphpmiibpnnpeap", :target => :blank %> for quick and easy access to the latest CloudSpokes challenges, your payments, leaderboards and more!</p>
</div>