<h1>Tests</h1>

<ul>
	<li><a href="display_users">Display all users in the database</a>
	<li><a href="display_settings">Display all settings in the database</a>
	<li><a href="auth_cloudspokes">Authenticate - CloudSpokes</a> (user)
	<li><a href="auth_thirdparty">Authenticate - Third Party</a> (user)
	<li><a href="get_current_access_token">Get current_access_token</a> (application controller)
	<li><a href="/new_public_token">Get a new_public_token</a> (application controller)
	<li><a href="service_sfdc_username">Test getting sfdc username from third party credentials</a> (service)
	<li><a href="service_new_member_cloudsppokes">Create a new member with cloudspokes credentails</a>. Will always return duplicate user. (service)
</ul>