<link rel="stylesheet" href="/assets/quickquiz/main.css" />
<link rel="stylesheet" href="/assets/quickquiz/jquery-ui-1.8.17.custom/css/redmond/jquery-ui-1.8.17.custom.css" />
<link rel="stylesheet" href="/assets/quickquiz/CodeMirror-2.2/lib/codemirror.css" />
<link rel="stylesheet" href="/assets/quickquiz/CodeMirror-2.2/theme/eclipse.css" />

<div class="page-heading"><h2 class="melbourne"><%= @challenge_detail['Name'] %> Practice</h2></div>

<!-- Content Wrapper -->
<div class="challenge-content-wrapper ">
<p style="margin-top:25px;margin-left:25px;margin-right:25px">	In the code segment for each question, there is an error on a single line.  
		Correct the error by changing the fewest possible characters on that one line. Do not make changes that are not needed to fix the code.  
		Some questions will include additional details or instructions in the comments.  For those questions where the code includes an ASSERT 
		function, it must evaluate to TRUE for the code to be considered correct.
	<br/><br/>Whoever answers the most answers correct the fastest is the winner. The number of correct answers is the more important factor, so don’t rush. This practice pages cycles infinitely through 3 sample questions.
	</p>
<div class="editPane">
    <div id="editor"></div>
</div>
<div class="infoPane">
    Type: <span data-bind="text:language"></span><br/><br/><br/>
    Time This Question<br/>
    <div id="clock" class="stopwatch">
		<div class="display">
			<span class="hr">00</span>:<span class="min">00</span>:<span class="sec">00</span> <span class="total">00</span>
            <!-- These are hidden -->
            <input type="button" class="start" value="Start">
            <input type="button" class="stop" value="Stop">
            <input type="button" class="reset" value="Reset">
		</div>
	</div>
	<button data-bind="click: submit">Submit Answer</button>
</div>
<div class="clear"></div>

<script type="text/javascript" src="/assets/quickquiz/jquery-ui-1.8.17.custom/js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="/assets/quickquiz/knockout-2.0.0.js"></script>
<script type="text/javascript" src="/assets/quickquiz/CodeMirror-2.2/lib/codemirror.js"></script>
<script type="text/javascript" src="/assets/quickquiz/CodeMirror-2.2/mode/xml/xml.js"></script>
<script type="text/javascript" src="/assets/quickquiz/CodeMirror-2.2/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="/assets/quickquiz/CodeMirror-2.2/mode/clike/clike.js"></script>
<script type="text/javascript" src="/assets/quickquiz/CodeMirror-2.2/mode/ruby/ruby.js"></script>
<script type="text/javascript" src="/assets/quickquiz/CodeMirror-2.2/mode/css/css.js"></script>
<script type="text/javascript" src="/assets/quickquiz/CodeMirror-2.2/mode/htmlmixed/htmlmixed.js"></script>
<script type="text/javascript" src="/assets/quickquiz/jquery.stopwatch.js"></script>
<script type="text/javascript" src="/assets/quickquiz/Quiz.js"></script>
<script type="text/javascript">
	var editor = CodeMirror(document.getElementById("editor"), {
	    mode:  "text/html",
	    lineNumbers: true
	});
	
	function fnGetUrl() {
		var domain = document.URL.match(/:\/\/(.[^/]+)/)[1];
		return 'http://' + domain;
	}

	$('button').button();
	$("#clock").stopwatch();
	
	$(document).ready(function() {
		
		var data = new Object();
		data.url = fnGetUrl();
		data.challengeId = '<%= params[:id] %>';
		data.questionType = 'Practice';
		ko.applyBindings(new Quiz(data, {editor:editor}));
		
		// prevent copy and paste
	    $('#editor').bind('cut copy paste', function(event) {
	        event.preventDefault();
	    });

	});
	
</script>


</div>
<!-- END Content Wrapper -->