<div class="reply-post">
    <div class="box">
        <div class="box-b">
            <div class="box-t">
                <a href='profile.html?username=jeffdonthemic' class="fl">
                    <img src="https://acdcstorage.blob.core.windows.net/userimages/profilejeffdonthemic37290c4f-74a3-4ceb-8d01-9c3a916c31ae_th_100.png" id="ctl00_Body_rptComment_ctl00_rptAnswers_ctl00_imgReplyUser" width="50" height="50" alt="jeffdonthemic" /></a>
                <div class="text-holder fr">
                    <div style="width: 450px; overflow-x: auto; overflow-y: hidden">
                        <p style="padding-bottom: 15px">
                            Yes! Assume there is some field that will be a unique ID for upserting.</p>
                    </div>
                    <span><a href='profile.html?username=jeffdonthemic'>
                        jeffdonthemic</a>,&nbsp;&nbsp;Oct. 30, 2011&nbsp;at
                        10:01, PM&nbsp;&nbsp;
                    </span>
                </div>
                <div class="cl">
                    &nbsp;</div>
            </div>
        </div>
    </div>
</div>