        <div class="page">
            <h1 id="heading">
                Leaderboards</h1>
        
        <!-- Content Wrapper -->
        <div class="content-wrapper ">
        <h4><span></span></h4>

            <!-- Leaderboards -->
            <div id="leaderboards">
                <!-- Columns -->
                <div class="columns">
                    <div class="column">
                        <h3>This Month</h3>
                        <%= render :partial => "leaderboard", :locals => { :leaders => @this_month_leaders } %>
                        <p class="ac">
                            <a href="#">
                            <span><a disabled="disabled">Load Previous 10</a>&nbsp;<a href="javascript:__doPostBack(&#39;ctl00$Body$DataPager1$ctl01$ctl00&#39;,&#39;&#39;)">Load Next 10</a>&nbsp;</span></a>
                        </p>
                    </div>

                    <div class="column column-middle">
                        <h3>This Year</h3>
                        <%= render :partial => "leaderboard", :locals => { :leaders => @this_year_leaders } %>
                        <p class="ac">
                            <a href="#">
							<span><a disabled="disabled">Load Previous 10</a>&nbsp;<a href="javascript:__doPostBack(&#39;ctl00$Body$DataPager2$ctl01$ctl00&#39;,&#39;&#39;)">Load Next 10</a>&nbsp;</span></a>
                        </p>
                    </div>

                    <div class="column">
                        <h3>All Time</h3>
                        <%= render :partial => "leaderboard", :locals => { :leaders => @all_time_leaders } %>
                        <p class="ac">
                            <a href="#">
                            <span><a disabled="disabled">Load Previous 10</a>&nbsp;<a href="javascript:__doPostBack(&#39;ctl00$Body$DataPager3$ctl01$ctl00&#39;,&#39;&#39;)">Load Next 10</a>&nbsp;</span></a>
                        </p>
                    </div>

                    <div class="cl">&nbsp;</div>
                </div>
                <!-- END Columns -->
                <div class="cl">&nbsp;</div>
            </div>
            <!-- END Leaderboards -->
        </div>

        <!-- END Content Wrapper -->
    </div>
