<h1>Account#index</h1>
<p>Imagine some cool stuff here....</p>

<ul>
	<li><a href="/account/details">Edit Details</a>
	<li><a href="/account/schoolwork">Edit School and Work</a>
	<li><a href="/scoring">Outstainding Reviews</a>
</ul>

<%= debug @member %>