//= require "normalize"
//= require_self

@import "compass"
@import "global"
@import "content"
@import "accounts"
@import "member"
@import "challenge"

$bg-blue: #d1e7ed
$border-blue: #456179
$link-color: #09f
$heading-blue: #6699C9

=hide-text
  text-indent: -999em
  text-align: left

html, body
  min-height: 100%

body
  font-family: Arial, sans-serif
  background: $bg-blue
  font-size: 12px
  color: #444
  +background-image(linear-gradient(rgba(30,140,200,0.15), rgba(30,140,200,0) 50px))

a
  color: $link-color
  text-decoration: none
  &:hover
    text-decoration: underline
  &:visited
    color: $link-color

.upcase
  text-transform: uppercase
.downcase
  text-transform: lowercase

.melbourne
  font-family: Marvel

nav ul
  padding: 0
  margin: 0
  list-style: none
  li
    padding: 0
    margin: 0
    display: inline-block

#wrapper
  width: 980px
  margin: 0 auto

#content
  clear: both
  background: white
  border: 9px solid $border-blue // this is screwing things upon on the challenge/index page -- FIX
  border-left: 0
  border-right: 0
  overflow: auto

#top
  #logo
    float: left
    margin: 10px 10px 10px 20px
    a
      +hide-text
      display: block
      background: url(https://cloudspokes.s3.amazonaws.com/CloudSpokes.png) no-repeat top left
      width: 125px
      height: 97px
  #menu
    background: url(https://cloudspokes.s3.amazonaws.com/CloudSpokes2.png) no-repeat 5px 0px
    padding-top: 42px
    margin-top: 20px
    float: left
    a
      display: block
      background: #eee
      color: adjust-saturation($link-color, -50)
      text-decoration: none
      font-size: 16px
      padding: 8px 12px
      margin: 0 4px
      +border-radius(5px)
      text-transform: lowercase
      &:hover
        background: adjust-saturation($link-color, -50) 
        color: #eee

  #side_menu
    float: right
    padding-top: 65px
    a
      color: #888
      text-decoration: none
      text-transform: lowercase
      font-size: 16px
      display: block
      padding: 6px 12px
      &:hover
        color: $link-color
    #profile_pic
      padding-right: 10px
      padding-left: 10px

#bottom
  line-height: 40px
  height: 40px
  img
    vertical-align: middle
    margin: 0 3px
  .left
    float: left
    nav
      display: inline-block
  .right
    float: right
    a
      color: #666
      padding: 0 10px
      border-right: 1px solid #666
    li:last-child a
      border-right: 0

a.btn
  +box-shadow(1px 1px 6px rgba(0,0,0,0.6))
  display: inline-block
  padding: 10px 20px
  +border-radius(8px)
  font-size: 16px
  background: $link-color
  color: white
  +background-image(linear-gradient(rgba(100,200,255,0.3),rgba(100,200,255,0)))
  &:hover
    +background-image(linear-gradient(rgba(100,200,255,0),rgba(100,200,255,0.3)))
    text-decoration: none
  &.light
    color: $link-color
    background: white
    +background-image(linear-gradient(#fff,#ddd))
    &:hover
      +background-image(linear-gradient(#eee,#fff))

#heading
  color: white
  font-family: Marvel
  font-weight: bold
  font-size: 48px
  padding: 15px 20px 15px
  margin: -9px 0px 20px
  background-color: $border-blue
  +background-image(linear-gradient(rgba(200,255,255,0.25),rgba(200,255,255,0)))

.page
  padding: 20px // FIX -- this is screwing up the right side of the search bar on the challenges index page
  #heading
    margin-left: -20px
    margin-top: -29px
    margin-right: -20px
  h4
    font-size: 16px
    color: black
    margin: 10px 0
    font-weight: normal
  h3
    font-size: 18px
    font-weight: normal
    color: $heading-blue
    margin: 5px 0 10px
  p.big
    font-size: 16px
    color: black

.col3 
  +clearfix
  .col
    +box-sizing(border-box)
    width: 33%
    float: left
    padding: 15px 20px

.button
  cursor: pointer 
  margin-right: 10px 
.button, .button span  
  float: left 
  display: inline 
  height: 26px 
  line-height: 26px 
  font-size: 14px 
  color: #fff 
  padding-left: 44px 
  background: url(http://cloudspokes.s3.amazonaws.com/button-1.gif) no-repeat 0 0 
.button span  
  padding-left: 0 
  padding-right: 44px 
  background-position: right 0 
.button:hover, .button:hover span  
  text-decoration: none 
  background-position: 0 -26px 
.button:hover span  
  background-position: right -26px 

.notice
  border: solid 1px #4F8A10 
  background: #DFF2BF
  color: #000000
  padding: 8px
  text-align: center
  margin-top: 15px
  margin-right: 25px
  margin-bottom: 15px

.warning
  border: solid 1px #9F6000 
  background: #FEEFB3
  color: #000000
  padding: 8px
  text-align: center
  margin-top: 15px
  margin-right: 25px
  margin-bottom: 15px

.error
  border: solid 1px #D8000C 
  background: #FFBABA
  color: #000000
  padding: 8px
  text-align: center
  margin-top: 15px
  margin-right: 25px
  margin-bottom: 15px

.field_with_errors
  display: inline

.third_party_no_email 
  margin-top: 5px
  margin-bottom: 25px

.post-third_party_no_email .holder 
  background: url("http://cloudspokes.s3.amazonaws.com/textarea-1.gif") repeat scroll 0 0 transparent
  height: 84px
  margin-bottom: 10px
  padding: 5px
  width: 448px

.third_party_no_email .field 
  background: none repeat scroll 0 0 #FFFFFF
  border: 1px solid #CCCCCC
  color: #666666
  display: inline
  font-size: 13px
  height: 16px
  margin-bottom: 10px
  padding: 6px 5px
  width: 200px

.technologyBadgesdiv
  float: left
  width: 155px
  text-align: center
  height: 105px

#badgesMain
  background-color: #FFF
  padding: 20px
  font-family: Arial, Helvetica, sans-serif

.badgesmainA:hover
  text-decoration:none

.divBadgespopUp
  width: 400px
  padding: 20px
  font-family: Arial, Helvetica, sans-serif
  display: none
  border: 2px solid #AFAFAF
  margin-bottom: 10px

.divBadgePopupText
  float: left
  width: 240px
  margin-left: 10px
  margin-top: 15px

.developSkillbadges
  border-right: 2px solid #AFAFAF
  float: left
  width: 450px

.developSkillbadgetextdiv
  float: left
  width: 300px

.developSkillbadgeimgdiv
  float: left
  width: 148px

.fancytable
  font-size: 11px
  margin-bottom: 50px
  width: 550px
  border-collapse: collapse
  text-align: left

.fancytable th
  font-size: 14px
  font-weight: normal
  color: #6699C9
  padding: 10px 8px
  border-bottom: 2px solid

.fancytable td
  border-bottom: 1px solid #ccc
  padding: 6px 8px

.hint
  font-size: x-small
  padding-left: 5px
  color: #A9A9A9

.field
  padding-bottom: 8px
  border: 0px

.field input
  background: none repeat scroll 0 0 #FFFFFF
  border: 1px solid #CCCCCC
  font: 11px Arial,Sans-Serif
  display: inline
  font-size: 13px
  color: #666666
  height: 20px

.formsubmit
  padding: 4px

.page-padding
  margin: 25px