<h1>Outstanding Reviews</h1>

<table cellpadding="5" cellspacing="5">
<tr>
	<th>Challenge</th>
	<th>Member</th>
	<th>Submission Date</th>
	<th>Review</th>
</tr>
<% @challenges.each do |record| %>
<tr>
	<td><%= record["Challenge_Participant__r"]["Challenge__r"]["Name"] %></td>
	<td><%= record["Challenge_Participant__r"]["Member__r"]["Name"] %></td>
	<td><%= record["Challenge_Participant__r"]["Submitted_Date__c"] %></td>
	<td><a href="/scoring/scorecard/<%= record["Challenge_Participant__c"] %>">Review</a></td>
</tr>
<% end %>
</table>