<div class="page">
  <h1 id='heading'>How It Works</h1>
            <!--
            <h4>

        Each challenge is 
            created to garner participation from community members with expertise in the 
            specific problem domain. If you feel you have the expertise to compete in a 
            challenge, follow these steps to get started!
            </h4>-->
                <div style="float: left; width:10%; padding-left:25px">
                      <img src="http://cloudspokes.s3.amazonaws.com/01Post.jpg" alt="Post">
                </div>
                <div style="width: 75%;">
                     <h3>Competition Posted</h3>
                     Carefully read the requirements 
            for the challenge to ensure that you feel comfortable that you will be able to 
            submit a solution.
                </div>
                <br>
                <br>
                <div style="float: left; width:10%; padding-left:25px">
                      <img src="http://cloudspokes.s3.amazonaws.com/02Register.jpg" alt="Post">
                </div>
                <div style="width: 75%;">
                     <h3>Register</h3>
                     Found your competition?  Take note of the time 
            frame allotted for the challenge - you should register on or soon after the 
            start date to allow yourself enough time to complete the challenge.   
                </div>
                
                <br>
                <div style="clear:both"></div>
                <div style="float: left; width:10%; padding-left:25px">
                      <img src="http://cloudspokes.s3.amazonaws.com/03Colaborate.jpg" alt="Post">
                </div>
                <div style="width: 75%;">
                     <h3>Collaborate</h3>
                     Carefully read the requirements 
            for the challenge to ensure that you feel comfortable that you will be able to 
            submit a solution.  Make sure to use the forums to discuss any questions with 
            the community and the challenge posters.
                </div>
                 <br>  
                 <div style="clear:both"></div>
                <div style="float: left; width:10%; padding-left:25px">
                      &nbsp;<img src="http://cloudspokes.s3.amazonaws.com/04Submit1.jpg" alt="Post"></div>
                <div style="width: 75%;">
                     <h3>Submit</h3>
                     Also review the 
            deliverable requirements for the challenge - it's important to adhere to these 
            when you submit your solution. This includes requested file formats and any 
            other instructions pertinent to the submission of your work.  Your 
            submissions must be uploaded by the due date - late submissions are not allowed.
                </div>
                 <br> 
                <div style="float: left; width:10%; padding-left:25px">
                      <img src="http://cloudspokes.s3.amazonaws.com/05PeerReview.jpg" alt="Post">
                </div>
                <div style="width: 75%;">
                     <h3>Peer Review</h3>
                     Once your work has been submitted it is time to get it reviewed by your peers to determine the winner.
                     This is where the rubber hits the road.  Did you comment your code?  Is it readable?  Does it implement all the requirements?
                </div>
                 <br> 
                 <div style="clear:both"></div>  
                <div style="float: left; width:10%; padding-left:25px">
                      <img src="http://cloudspokes.s3.amazonaws.com/06Winner.jpg" alt="Post">
                </div>
                <div style="width: 75%;">
                     <h3>Winning</h3>
                     Congratulations!  You have won!  Even if you didn't win, check out your profile to see if you have earned any achievements!</div>
                 <br>   
                 
    </div>
