<style type="text/css">
    .FaceBoxPopup
    {
        width: 550px;
        overflow: hidden;
    }
    #facebox .content
    {
        width: 550px;
    }
</style>
<script language="javascript">
    $().ready(function () {

        function hidealldivs() {
            $('#rolloverPopupForce').hide();
            $('#rollOverPopupHeroku').hide();
            $('#rolloverPopupAppengine').hide();
            $('#rolloverPopupAmazonWebServices').hide();
            $('#rolloverPopupHTML5').hide();
            $('#rolloverPopupiOS').hide();
            $('#rolloverPopupAndroid').hide();
            $('#rolloverPopupCloudFoundry').hide();
            
            $('#rolloverPopupBox').hide();
            $('#aForce').children().css('border', '0')
            $('#aIOS').children().css('border', '0')
            $('#aHTML5').children().css('border', '0')
            $('#aAndroid').children().css('border', '0')
            $('#aCloudFoundry').children().css('border', '0')
            $('#aAWS').children().css('border', '0')
            $('#aAppengine').children().css('border', '0')

            $('#aBox').children().css('border', '0')
        }


        $('#aForce').hover(function () {
            hidealldivs();
            var href = $(this).attr('href');
            $(href).show();
            $(this).children().css('border', '1px solid #000000');
        });


        $('#aIOS').hover(function () {
            hidealldivs();
            var href = $(this).attr('href');
            $(href).show();
            $(this).children().css('border', '1px solid #000000');
        });



        $('#aHTML5').hover(function () {
            hidealldivs();
            var href = $(this).attr('href');
            $(href).show();
            $(this).children().css('border', '1px solid #000000');
        });


        $('#aAndroid').hover(function () {
            hidealldivs();
            var href = $(this).attr('href');
            $(href).show();
            $(this).children().css('border', '1px solid #000000');
        });

        $('#aCloudFoundry').hover(function () {
            hidealldivs();
            var href = $(this).attr('href');
            $(href).show();
            $(this).children().css('border', '1px solid #000000');
        });

        $('#aAWS').hover(function () {
            hidealldivs();
            $(this).children().css('border', '1px solid #000000');
            var href = $(this).attr('href');
            $(href).show();

        });

        $('#aAppengine').hover(function () {
            hidealldivs();
            $(this).children().css('border', '1px solid #000000');
            var href = $(this).attr('href');
            $(href).show();

        });
        
        $('#aBox').hover(function () {
            hidealldivs();
            $(this).children().css('border', '1px solid #000000');
            var href = $(this).attr('href');
            $(href).show();

        });


        //            $('a[rel*=aIOS]').facebox({ div: '#rolloverPopupiOS' }, 'FaceBoxPopup').hover(function () { $(this).click(); });


        $('#imggeneral').mouseover(function () { $(this).attr("src", "http://cloudspokes.s3.amazonaws.com/spoker_mini_over.gif"); });
        $('#imggeneral').mouseout(function () { $(this).attr("src", "http://cloudspokes.s3.amazonaws.com/spoker_mini.gif"); });

        $('#imgtech').mouseover(function () { $(this).attr("src", "http://cloudspokes.s3.amazonaws.com/tech_mini_over.gif"); });
        $('#imgtech').mouseout(function () { $(this).attr("src", "http://cloudspokes.s3.amazonaws.com/tech_mini.gif"); });

        $('#imgskills').mouseover(function () { $(this).attr("src", "http://cloudspokes.s3.amazonaws.com/cook_mini_over.gif"); });
        $('#imgskills').mouseout(function () { $(this).attr("src", "http://cloudspokes.s3.amazonaws.com/cook_mini.gif"); });

    });

</script>



<div class="page-heading"><h2 class="melbourne">CloudSpokes Badges</h2></div>

<div id="badgesMain">
            <div>
                <img src="http://cloudspokes.s3.amazonaws.com/beta.gif" style="float: left; padding-right: 10px;"
                    alt="beta" />
                <p style="padding-top: 30px;">
                    Welcome to a guide to CloudSpokes Badges. Badges are a way to highlight and summarize
                    your skills and accomplishments on CloudSpokes. We will be adding new badges over
                    time, so <a href="mailto:cloudspokes@appirio.com">send us your ideas</a> on how you want to be recognized!</p>
            </div>
            <div style="margin-left: 150px;">
                <table cellspacing="15" cellpadding="15" border="0" align="left">
                    <tbody>
                        <tr align="center">
                            <td style="padding-right:25px">
                                <strong><a href="#general" class="badgesmainA">
                                    <img border="0" id="imggeneral" src="http://cloudspokes.s3.amazonaws.com/spoker_mini.gif" /><br />
                                    CloudSpokes General Badges </a></strong>
                            </td>
                            <td style="padding-right:25px">
                                <strong><a href="#tech" class="badgesmainA">
                                    <img border="0" id="imgtech" src="http://cloudspokes.s3.amazonaws.com/tech_mini.gif" /><br />
                                    Technology Achievement Badges </a></strong>
                            </td>
                            <td>
                                <strong><a href="#skills" class="badgesmainA">
                                    <img border="0" id="imgskills" src="http://cloudspokes.s3.amazonaws.com/cook_mini.gif" /><br />
                                    Develop Your Skills Badges</a></strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cl">
            </div>
            <hr style="margin-top:20px" />
            <h2>
                <br />
                <a id="general" name="general"></a>CloudSpokes General Badges</h2>
            <br />
            <p>
                These badges correspond to winning and placing in contests on CloudSpokes.</p>
            <div class="developSkillbadgeimgdiv">
                <img width="148" height="104" src="http://cloudspokes.s3.amazonaws.com/cloudspoker.gif" />
            </div>
            <div class="developSkillbadgetextdiv">
                <p>
                    <strong>CloudSpoker<br />
                    </strong>Congratulations on beginning the Journey! Awarded for
                    submitting an acceptable entry (at least 70% score) for at least one CloudSpokes
                    contest.</p>
            </div>
            <div class="developSkillbadgeimgdiv">
                <img width="148" height="104" src="http://cloudspokes.s3.amazonaws.com/traveler.gif" />
            </div>
            <div class="developSkillbadgetextdiv">
                <p>
                    <strong>CloudSpokes Traveler</strong><br>
                    You have begun the journey towards cloud mastery! Awarded for placing in at least
                    one contest.</p>
            </div>
            <div class="cl">
            </div>
            <div class="developSkillbadgeimgdiv">
                <img width="148" height="104" src="http://cloudspokes.s3.amazonaws.com/aventurer.gif" />
            </div>
            <div class="developSkillbadgetextdiv">
                <p>
                    <strong>CloudSpokes Adventurer</strong><br>
                    You can thrive and conquer any journey! Awarded for winning at least five contests.</p>
                    
            </div>
            <div class="developSkillbadgeimgdiv">
                <img width="148" height="104" src="http://cloudspokes.s3.amazonaws.com/ninja.gif" />
            </div>
            <div class="developSkillbadgetextdiv">
                <p>
                    <strong>CloudSpokes Ninja</strong><br>
                    Without warning you can drop in and cause massive havoc! Awarded for winning at
                    least ten contests.</p>
            </div>
            <div class="cl">
            </div>
            <hr />
            <h2>
                <br />
                <a id="tech" name="tech"></a>Technology Badges</h2>
            <br />
            
            
            <div style="width: 425px; float: left; margin-right:25px">
                <p>
                    Show your experience with specific technologies and CloudSpokes. These badges are
                    awarded for your participation and winning contests with specific technologies.
                </p>
                <p>
                    Scroll over each to see what's in store for you!</p>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupForce" id="aForce" rel="aForce" class="techbadgesA">
                        <img border="0" src="http://cloudspokes.s3.amazonaws.com/logo_force.jpg" style="border: 1px solid #000000" /></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupAppengine" id="aAppengine" rel="aAppengine" class="techbadgesA">
                        <img border="0" src="http://cloudspokes.s3.amazonaws.com/logo_AppEngine.jpg" /></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupAmazonWebServices" id="aAWS" rel="aAWS" class="techbadgesA">
                        <img border="0" src="http://cloudspokes.s3.amazonaws.com/logo_aws.jpg" /></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupCloudFoundry" id="aCloudFoundry" rel="aCloudFoundry" class="techbadgesA">
                        <img border="0" src="http://cloudspokes.s3.amazonaws.com/logo_cloudfoundry.jpg" /></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupHTML5" id="aHTML5" rel="aHTML5" class="techbadgesA">
                        <img border="0" src="http://cloudspokes.s3.amazonaws.com/logo_h5.jpg" /></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupiOS" id="aIOS" rel="aIOS" class="techbadgesA">
                        <img border="0" src="http://cloudspokes.s3.amazonaws.com/logo_ios.gif" /></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupAndroid" id="aAndroid" rel="aAndroid" class="techbadgesA">
                        <img border="0" src="http://cloudspokes.s3.amazonaws.com/logo_droid.jpg" /></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupBox" id="aBox" rel="aBox" class="techbadgesA">
                        <img border="0" src="http://cloudspokes.s3.amazonaws.com/twilio.jpg" /></a>
                </div>
                <div class="cl">
                </div>
            </div>

            <div class="fl">
                <div id="rolloverPopupForce" class="divBadgespopUp" style="display: block;">
                    <div>
                        <strong>Force.com</strong> - Leading cloud platform for business apps from salesforce.com.
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/force_spoker.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Force.com Follower</strong> - Begin your journey to “use the force” to make
                            the impossible real. Awarded for  submitting an acceptable
                            entry (at least 70% score) on a challenge using or related to force.com.
                        </p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/force_traveler.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Force.com Traveler</strong> - Awarded for placing in at least one contest
                            involving or using force.com.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/force_adventurer.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Force.com Adventurer</strong> - Awarded for winning at least five contests involving or using force.com.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/force_ninja.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Force.com Ninja</strong> - You are not to be trifled with!  Awarded for
                            winning at least ten contests involving or using force.com.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
                <div id="rollOverPopupHeroku" class="divBadgespopUp">
                    <div>
                        <strong>Heroku</strong> Cloud PaaS for running Ruby on Rails applications.
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/force_spoker.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Poet Warrior</strong> - Your on the road to becoming a peaceful warrior
                            of code and creativity. Awarded for  submitting an acceptable
                            entry (at least 70% score) on a challenge using or related to Heroku.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/force_traveler.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Heroku Traveler</strong> - Awarded for placing in at least one contest involving or using Heroku.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/force_adventurer.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Heroku Adventurer</strong> - Awarded for winning at least five contests involving or using Heroku.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/force_ninja.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Heroku Ninja</strong> - There is nothing silent about your skills!  Awarded
                            for winning at least ten contests involving or using Heroku.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
                <div id="rolloverPopupAppengine" class="divBadgespopUp">
                    <div>
                        <strong>Appengine </strong>- Cloud platform allowing users the ability to build
                        and host web applications on Google's infrastructure.
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/appenginer.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Appenginer </strong>- Punch above your weight with the power of all of Google’s
                            data centers. Awarded for  submitting an acceptable entry
                            (at least 70% score) on a challenge using or related to Appengine.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/appengine_traveler.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Appengine Traveler</strong> - Awarded for placing in at least one contest
                             involving or using Appengine.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/appengine_adventurer.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Appengine Adventurer</strong> - Awarded for winning at least five contests involving or using Appengine.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/appengine_ninja.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Appengine Ninja</strong> - With your skills you’re sneaking up on no one!
                            Awarded for winning at least ten contests involving or using Appengine.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
                <div id="rolloverPopupAmazonWebServices" class="divBadgespopUp">
                    <div>
                        <strong>Amazon Web Services</strong> - Leading provider of IaaS, PaaS, and other
                        commerce related services.
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/beanstalker.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Beanstalker </strong>- Your climbing up to take down the giant and reap
                            the rewards of cloud greatness!  Awarded for  submitting
                            an acceptable entry (at least 70% score) on a challenge using or related to AWS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/aws_traveler.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>AWS Traveler</strong> - Awarded for placing in at least one contest involving or using AWS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/aws_adventurer.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>AWS Adventurer</strong> - Awarded for winning at least five contests involving or using AWS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/aws_ninja.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>AWS Ninja</strong> - Your use of many weapons is most impressive.  Awarded
                            for winning at least ten contests involving or using AWS.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
                <div id="rolloverPopupHTML5" class="divBadgespopUp">
                    <div>
                        <strong>HTML5/JS</strong> - Technology driven category involving using HTML5 and
                        Javascript in new and creative ways to make the web and mobile a friendlier place.
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/ui_zen.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>UI Zen</strong> - Seeing the Feng shui of user experience is a noble goal.
                            Awarded for submitting an acceptable entry (at least
                            70% score) on a challenge using or related to HTML5/JS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/ui_traveler.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>UI Traveler</strong> - Awarded for placing in at least one contest substantially using HTML5 and/or Javascript.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/ui_adventurer.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>UI Adventurer</strong> - Awarded for winning in at least five contests substantially using HTML5 and/or Javascript.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/ui_ninja.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>UI Ninja</strong> - You are amongst the rarest of a lost but resurgent art. 
                            Awarded for winning at least ten contests substantially using HTML5 and/or Javascript.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
                <div id="rolloverPopupiOS" class="divBadgespopUp">
                    <div>
                        <strong>iOS</strong> - Apple’s ubiquitous mobile operating system for the iPhone
                        and iPad.
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/eye_everything.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>“Eye” Everything </strong>- You can see the power to consumer style enjoyment
                            to enterprise mobile. Awarded for submitting an acceptable
                            entry (at least 70% score) on a challenge using or related to iOS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/apple_i_traveler.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Apple I Traveler</strong> - Awarded for submitting
                            an acceptable entry (at least 70% score) on a challenge using or related to iOS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/apple_i_adventurer.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Apple I Adventurer</strong> - Awarded for winning in at least five contests
                             using or related to iOS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/apple_i_ninja.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Apple I Ninja</strong> - You bring together the steak and sizzle to change
                            the lives of users everywhere.  Awarded for winning at least ten contests using or related to iOS.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
                <div id="rolloverPopupAndroid" class="divBadgespopUp">
                    <div>
                        <strong>Android </strong>- Android is an open source software stack for mobile devices
                        that includes an OS, middleware, and key applications.
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/droidhead.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>DroidHead</strong> - Trick out your device and get ready to rumble with
                            the coolest technologies. Awarded for submitting an
                            acceptable entry (at least 70% score) on a challenge using or related to Android.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/android_traveler.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Android Traveler</strong> - Awarded for submitting
                            an acceptable entry (at least 70% score) on a challenge using or related to Android.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/android_adventurer.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Android Adventurer</strong> - Awarded for winning in at least five contests
                             using or related to Android.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/android_ninja.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Android Ninja</strong> - Even at the geek conferences your skills standout
                            !  Awarded for winning at least ten contests using or related to Android.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>

                <div id="rolloverPopupBox" class="divBadgespopUp">
                    <div>
                        <strong>Box</strong>- The Box API is fully customizable: Build applications to add unique functionality, develop new workflows, highlight your brand and more.
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/boxer.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Boxer</strong> - You're ready to build knock-out apps! Awarded for creating a Box account and creating a Box API Key.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/box-traveler.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Box Traveler</strong> - awarded for submitting
                            an acceptable entry (at least 70% score) on a challenge using or related to Box.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/box-adventurer.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Box Adventurer</strong> - Awarded for winning at least five contests
                             using or related to Box.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/box-ninja.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Box Ninja</strong> - You have mastered the art of Box-Fu!  Awarded for winning at least ten contests.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>

                <div id="rolloverPopupCloudFoundry" class="divBadgespopUp">
                    <div>
                        <strong>Cloud Foundry </strong>- Open platform as a service project initiated by
                        VMware.
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/cloudsmith.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>CloudSmith </strong>- Knights and Ninjas appreciate your desire to forge
                            our future tools!  Awarded for  submitting an acceptable
                            entry (at least 70% score) on a challenge using or related to Cloud Foundry.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/cloudfoundry_traveler.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Cloud Foundry Traveler</strong> - Awarded for placing in at least one contest
                             involving or using Cloud Foundry.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/cloudfoundry_adventurer.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Cloud Foundry Adventurer</strong> - Awarded for winning at least five contests
                             involving or using Cloud Foundry.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float: left; width: 150px;">
                        <img src="http://cloudspokes.s3.amazonaws.com/cloudfoundry_ninja.gif">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Cloud Foundry Ninja</strong> - Your code cuts through things like a throwing
                            star!  Awarded for winning at least ten contests.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
            </div>
            <div class="cl">
            </div>
            <hr />
            <h2>
                <br />
                <a id="skills" name="skills"></a>“Develop Your Skills” Badges</h2>
            <br />
            <p>
                These badges are awarded to anyone who successfully submits a passing entry to a
                specific contest(s). It lets you learn technologies and apply those skills to hands
                on problems. Let the world know you got skills!</p>
            <p>
                Click the badge to see the challenge that needs to be completed. Upon submission
                and review of your entry, the badge will appear on your profile!</p>
            <div class="developSkillbadges">
                <div class="developSkillbadgeimgdiv">
                    <img width="148" height="104" src="http://cloudspokes.s3.amazonaws.com/force_cook.gif" />
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Force.com Cook</strong>
                        <br />
                        Get this badge by completing a force.com exercise that tests your ability to configure
                        an org and covers the basics of Apex!</p>
                </div>
                <div class="cl">
                </div>
                <div class="developSkillbadgeimgdiv">
                    <img width="148" height="104" src="http://cloudspokes.s3.amazonaws.com/force_souschef.gif" />
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Force.com Sous Chef </strong>
                        <br />
                        Get this badge by completing a force.com exercises that tests your ability to write
                        Apex and Visualforce and other advanced features!</p>
                </div>
                <div class="cl">
                </div>
                <div class="developSkillbadgeimgdiv">
                    <img width="148" height="104" src="http://cloudspokes.s3.amazonaws.com/force_masterchef.gif" />
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Force.com Master Chef </strong>
                        <br />
                        Get this badge by writing a force.com app which incorporates all the major capabilities
                        into an app that tests its own performance and evaluates itself!</p>
                </div>
                <div class="cl">
                </div>
            </div>
            <div class="fl">
                <div class="developSkillbadgeimgdiv">
                    <img width="148" height="104" src="http://cloudspokes.s3.amazonaws.com/CloudFoundryApprantice.gif" />
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Cloud Foundry Apprentice </strong>
                        <br />
                        Get this badge by completing the programming exercise in the language of your choice
                        that shows you know how to use Cloud Foundry as a Platform.</p>
                </div>
                <div class="cl">
                </div>
                <div class="developSkillbadgeimgdiv">
                    <img width="148" height="104" src="http://cloudspokes.s3.amazonaws.com/CloudFoundryBlackSmith.gif" />
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Cloud Foundry Journeyman </strong>
                        <br />
                        Get this badge by completing the programming exercise which tests various programming principles
                        and your ability to use various data storage mechanisms in Cloud Foundry.</p>
                </div>
                <div class="cl">
                </div>
                <div class="developSkillbadgeimgdiv">
                    <img width="148" height="104" src="http://cloudspokes.s3.amazonaws.com/CloudFoundryJourneyman.gif" />
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Cloud Foundry Blacksmith </strong>
                        <br />
                        Get this badge by completing a real world programming exercise that uses multiple
                        features of Cloud Foundry, incorporates third party libraries and connects to various
                        social networks.</p>
                </div>
                <div class="cl">
                </div>
            </div>
            <div class="cl">
            </div>
        </div>
