<script language="javascript" type="text/javascript">
    $().ready(function () {
        function hidealldivs() {
            $('#rolloverPopupForce').hide();
            $('#rollOverPopupHeroku').hide();
            $('#rolloverPopupAppengine').hide();
            $('#rolloverPopupAmazonWebServices').hide();
            $('#rolloverPopupHTML5').hide();
            $('#rolloverPopupiOS').hide();
            $('#rolloverPopupAndroid').hide();
            $('#rolloverPopupCloudFoundry').hide();
            $('#aForce').children().css('border', '0')
            $('#aIOS').children().css('border', '0')
            $('#aHTML5').children().css('border', '0')
            $('#aAndroid').children().css('border', '0')
            $('#aCloudFoundry').children().css('border', '0')
            $('#aAWS').children().css('border', '0')
            $('#aAppengine').children().css('border', '0')
        }
        $('#aForce').hover(function () {
            hidealldivs();
            var href = $(this).attr('href');
            $(href).show();
            $(this).children().css('border', '1px solid #000000');
        });
        $('#aIOS').hover(function () {
            hidealldivs();
            var href = $(this).attr('href');
            $(href).show();
            $(this).children().css('border', '1px solid #000000');
        });
        $('#aHTML5').hover(function () {
            hidealldivs();
            var href = $(this).attr('href');
            $(href).show();
            $(this).children().css('border', '1px solid #000000');
        });
        $('#aAndroid').hover(function () {
            hidealldivs();
            var href = $(this).attr('href');
            $(href).show();
            $(this).children().css('border', '1px solid #000000');
        });
        $('#aCloudFoundry').hover(function () {
            hidealldivs();
            var href = $(this).attr('href');
            $(href).show();
            $(this).children().css('border', '1px solid #000000');
        });
        $('#aAWS').hover(function () {
            hidealldivs();
            $(this).children().css('border', '1px solid #000000');
            var href = $(this).attr('href');
            $(href).show();
        });
        $('#aAppengine').hover(function () {
            hidealldivs();
            $(this).children().css('border', '1px solid #000000');
            var href = $(this).attr('href');
            $(href).show();
        });
        //            $('a[rel*=aIOS]').facebox({ div: '#rolloverPopupiOS' }, 'FaceBoxPopup').hover(function () { $(this).click(); });
        $('#imggeneral').mouseover(function () { $(this).attr("src", "http://cloudspokes.s3.amazonaws.com/spoker_mini_over.gif"); });
        $('#imggeneral').mouseout(function () { $(this).attr("src", "http://cloudspokes.s3.amazonaws.com/spoker_mini.gif"); });
        $('#imgtech').mouseover(function () { $(this).attr("src", "http://cloudspokes.s3.amazonaws.com/tech_mini_over.gif"); });
        $('#imgtech').mouseout(function () { $(this).attr("src", "http://cloudspokes.s3.amazonaws.com/tech_mini.gif"); });
        $('#imgskills').mouseover(function () { $(this).attr("src", "http://cloudspokes.s3.amazonaws.com/cook_mini_over.gif"); });
        $('#imgskills').mouseout(function () { $(this).attr("src", "http://cloudspokes.s3.amazonaws.com/cook_mini.gif"); });
    });
</script>
<div class="page-heading"><h2 class="melbourne">CloudSpokes Achievements</h2></div>
<div id="badgesMain">
            <div>
                <img src="http://www.appirio.com/i2/images/badges/pngs/cloudmission.png" style="float:left;padding-right:20px" alt="Badge"><p>
                    CloudSpokes Developer Badges are our way of recognizing and rewarding developers for their new achievements and top achievements, 
                    as well as encouraging community members to delve into a broader set of platforms and languages. <br><br>
					We will be adding new badges over time, so <a href="mailto:cloudspokes@appirio.com">send us your ideas</a> on how you want to be recognized! For now, 		we have three main categories of badges that will be applied to various challenges:</p>
            </div>
            <div style="margin-left:160px">
                <table cellspacing="15" cellpadding="15" style="float:left;border:0px solid #000">
                    <tbody>
                        <tr style="text-align:center">
                            <td style="padding-right:25px">
                                <strong><a href="#general" class="badgesmainA">
                                    <img id="imggeneral" src="http://cloudspokes.s3.amazonaws.com/spoker_mini.gif" style="border:0px solid #000"><br>
                                    CloudSpokes General Badges </a></strong>
                            </td>
                            <td style="padding-right:25px">
                                <strong><a href="#tech" class="badgesmainA">
                                    <img id="imgtech" src="http://cloudspokes.s3.amazonaws.com/tech_mini.gif" style="border:0px solid #000"><br>
                                    Technology Achievement Badges </a></strong>
                            </td>
                            <td>
                                <strong><a href="#skills" class="badgesmainA">
                                    <img id="imgskills" src="http://cloudspokes.s3.amazonaws.com/cook_mini.gif" style="border:0px solid #000"><br>
                                    Develop Your Skills Badges</a></strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div></div>
<div class="cl">
            </div>
            <hr style="margin-top:20px">
<!-- this is the top level div to move everything in the body slightly right --> 
<div style="margin-left:10px">
            <h2>
                <br><p>
                <a id="general" name="general"></a>CloudSpokes General Badges</p></h2>
              <p>General Badges are the top-level badges that correspond to winning and placing in contests on CloudSpokes.</p>
				<div class="developSkillbadgeimgdiv" style="margin-bottom:10px;">
                <img src="http://www.appirio.com/i2/images/badges/pngs/cloudspoker.png">
            </div>
            <div class="developSkillbadgetextdiv" style="margin:0 20px 10px 0;">
                <p>
                    <strong>CloudSpoker<br>
                    </strong>Congratulations on beginning the journey! Awarded for earning 500 points by participating in challenges.</p>
            </div>
            <div class="developSkillbadgeimgdiv" style="margin-bottom:10px;">
                <img src="http://www.appirio.com/i2/images/badges/pngs/cloudtraveler.png">
            </div>
            <div class="developSkillbadgetextdiv" style="margin:0 20px 10px 0;">
                <p>
                    <strong>CloudSpokes Traveler</strong><br>
                    You have begun the journey towards cloud mastery. Awarded for earning 5,000 points by participating in challenges.</p>
            </div>
            <div class="cl">
            </div>
            <div class="developSkillbadgeimgdiv" style="margin-bottom:10px;">
                <img src="http://www.appirio.com/i2/images/badges/pngs/cloudadventurer.png">
            </div>
            <div class="developSkillbadgetextdiv" style="margin:0 20px 10px 0;">
                <p>
                    <strong>CloudSpokes Adventurer</strong><br>
                    You can thrive and conquer on any quest. Awarded for earning 10,000 points by participating in challenges.  </p>
            </div>
            <div class="developSkillbadgeimgdiv" style="margin-bottom:10px;">
                <img src="http://www.appirio.com/i2/images/badges/pngs/cloudninja.png">
            </div>
            <div class="developSkillbadgetextdiv" style="margin:0 20px 10px 0;">
                <p>
                    <strong>CloudSpokes Ninja</strong><br>
                    Without warning you can drop in and cause massive havoc! Awarded for earning 25,000 points by participating in challenges.  </p>
            </div>
			<div class="cl">
            </div>
			<div class="developSkillbadgeimgdiv" style="margin-left: 250px;">
                <img src="http://www.appirio.com/i2/images/badges/pngs/cloudsamurai.png">
			</div>
            <div class="developSkillbadgetextdiv" style="margin:0 20px 10px 0;">
                <p>
                    <strong>CloudSpokes Samurai</strong><br>
                    You are the best of the best! Awarded for earning 50,000 points by participating in challenges.</p>
			</div>
            <div class="cl">
            </div></div><br>
            <hr>
			<div style="margin-left:10px">
            <h2>
                <br>
                <a id="tech" name="tech"></a>Technology Badges</h2>
            <br>
            <div style="width:425px;float:left;margin-right:25px">
                <p>
                    Show your experience with specific technologies and CloudSpokes. These badges are
                    awarded for your participation and winning contests with specific technologies.
                </p>
                <p>
                    Scroll over each to see what's in store for you!</p>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupForce" id="aForce" rel="aForce" class="techbadgesA">
                        <img src="http://cloudspokes.s3.amazonaws.com/logo_force.jpg" style="border:1px solid #000"></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupAppengine" id="aAppengine" rel="aAppengine" class="techbadgesA">
                        <img src="http://cloudspokes.s3.amazonaws.com/logo_AppEngine.jpg" style="border:1px solid #000"></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupAmazonWebServices" id="aAWS" rel="aAWS" class="techbadgesA">
                        <img src="http://cloudspokes.s3.amazonaws.com/logo_aws.jpg" style="border:1px solid #000"></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupCloudFoundry" id="aCloudFoundry" rel="aCloudFoundry" class="techbadgesA">
                        <img src="http://cloudspokes.s3.amazonaws.com/logo_cloudfoundry.jpg" style="border:1px solid #000"></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupHTML5" id="aHTML5" rel="aHTML5" class="techbadgesA">
                        <img src="http://cloudspokes.s3.amazonaws.com/logo_h5.jpg" style="border:1px solid #000"></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupiOS" id="aIOS" rel="aIOS" class="techbadgesA">
                        <img src="http://cloudspokes.s3.amazonaws.com/logo_ios.gif" style="border:1px solid #000"></a>
                </div>
                <div class="technologyBadgesdiv">
                    <a href="#rolloverPopupAndroid" id="aAndroid" rel="aAndroid" class="techbadgesA">
                        <img src="http://cloudspokes.s3.amazonaws.com/logo_droid.jpg" style="border:1px solid #000"></a>
                </div>
                <div class="cl">
                </div>
            </div>
            <div class="fl">
                <div id="rolloverPopupForce" class="divBadgespopUp" style="display:block">
                    <div>
                        <strong>Force.com</strong> - Leading cloud platform for business apps from salesforce.com.
                    </div><br>
                    <div style="float:left;width:150px;height:90px;">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/force_spoker.png"></div>
                    <div class="divBadgePopupText" >
                        <p>
                            <strong>Force.com Spoker</strong> - Awarded for submitting an entry with a passing score on a challenge using or related to force.com.
                        </p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/force_traveler.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Force.com Traveler</strong> - Awarded for winning three contests involving or using force.com.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/force_adventurer.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Force.com Adventurer</strong> - Awarded for winning ten contests involving or using force.com.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/force_ninja.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Force.com Ninja</strong> - Awarded for winning twenty contests involving or using force.com.  </p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/force_samurai.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Force.com Samurai</strong> - You are not to be trifled with! Awarded for winning fifty contests involving or using force.com.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
                <div id="rolloverPopupAppengine" class="divBadgespopUp">
                    <div>
                        <strong>App Engine </strong>- Cloud platform allowing users the ability to build and host web applications on Google's infrastructure.
                    </div><br>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/app_spoker.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>App Engine Spoker </strong>- Awarded for submitting an entry with a passing score on a challenge using or related to App Engine.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/app_traveler.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>App Engine Traveler</strong> - Awarded for winning three contests involving or using App Engine.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/app_adventurer.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>App Engine Adventurer</strong> - Awarded for winning ten contests involving or using App Engine.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/app_ninja.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>App Engine Ninja</strong> - Awarded for winning twenty contests involving or using App Engine.</p>
                    </div>
<div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/app_samurai.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>App Engine Samurai</strong> - You are a beast!
                            Awarded for winning fifty contests involving or using App Engine.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
                <div id="rolloverPopupAmazonWebServices" class="divBadgespopUp">
                    <div>
                        <strong>Amazon Web Services</strong> - Leading provider of IaaS, PaaS, and other commerce related services.
                    </div><br>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/aws_spoker.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>AWS Spoker </strong>- Awarded for submitting an entry with a passing score on a challenge using or related to AWS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/aws_traveler.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>AWS Traveler</strong> - Awarded for winning three contests involving or using AWS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/aws_adventurer.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>AWS Adventurer</strong> - Awarded for winning ten contests involving or using AWS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/aws_ninja.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>AWS Ninja</strong> - Awarded for winning twenty contests involving or using AWS.</p>
                    </div>
<div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/aws_samurai.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>AWS Samurai</strong> - Your use of many weapons is most impressive! Awarded
                            for winning at least fifty contests involving or using AWS.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
                <div id="rolloverPopupHTML5" class="divBadgespopUp">
                    <div>
                        <strong>HTML5/JS</strong> - Technology driven category involving using HTML5 and Javascript in new and creative ways.
                    </div><br>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/html5_spoker.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>HTML5 Spoker</strong> - Awarded for submitting an entry with a passing score on a challenge using or related to HTML5/JS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/html5_traveler.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>HTML5 Traveler</strong> - Awarded for winning three contests involving or using HTML5/JS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/html5_adventurer.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>HTML5 Adventurer</strong> - Awarded for winning ten contests involving or using HTML5/JS.</p>
                    </div>
<div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/html5_ninja.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>HTML5 Ninja</strong> - Awarded for winning twenty contests involving or using HTML5/JS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/html5_samurai.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>HTML5 Samurai</strong> - You have mastered a lost but resurgent art. Awarded for winning at least fifty contests using HTML5/JS.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
                <div id="rolloverPopupiOS" class="divBadgespopUp">
                    <div>
                        <strong>iOS</strong> - Apple’s ubiquitous mobile operating system for the iPhone, iPod Touch, iPad, and Apple TV.
                    </div><br>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/ios_spoker.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>iOS Spoker </strong>- Awarded for submitting an entry with a passing score on a challenge using or related to iOS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/ios_traveler.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>iOS Traveler</strong> - Awarded for winning three contests involving or using iOS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/ios_adventurer.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>iOS Adventurer</strong> - Awarded for winning ten contests involving or using iOS.</p>
                    </div>
<div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/ios_ninja.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>iOS Ninja</strong> - Awarded for winning twenty contests involving or using iOS.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/ios_samurai.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>iOS Samurai</strong> - You bring together the steak and sizzle. Awarded for winning fifty contests involving or using iOS.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
                <div id="rolloverPopupAndroid" class="divBadgespopUp">
                    <div>
                        <strong>Android </strong>- Android is an open source software stack for mobile devices
                        that includes an OS, middleware, and key applications.
                    </div><br>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/droid_spoker.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Android Spoker</strong> - Awarded for submitting an entry with a passing score on a challenge using or related to Android.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/droid_traveler.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Android Traveler</strong> - Awarded for winning three contests involving or using Android.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/droid_adventurer.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Android Adventurer</strong> - Awarded for winning ten contests involving or using Android.</p>
                    </div>
<div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/droid_ninja.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Android Ninja</strong> - Awarded for winning twenty contests involving or using Android.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/droid_samurai.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Android Samurai</strong> - You win all hackathons! Awarded for winning at least fifty contests using or related to Android.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
                <div id="rolloverPopupCloudFoundry" class="divBadgespopUp">
                    <div>
                        <strong>Cloud Foundry </strong>- Open platform as a service project initiated by
                        VMware.
                    </div><br><br>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/foundry_spoker.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Cloud Foundry Spoker </strong>- Awarded for submitting an entry with a passing score on a challenge using or related to CF.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/foundry_traveler.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Cloud Foundry Traveler</strong> - Awarded for winning three contests involving or using Cloud Foundry.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/foundry_adventurer.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Cloud Foundry Adventurer</strong> - Awarded for winning ten contests involving or using Cloud Foundry.</p>
                    </div>
<div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/foundry_ninja.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Cloud Foundry Ninja</strong> - Awarded for winning twenty contests involving or using Cloud Foundry.</p>
                    </div>
                    <div class="cl">
                    </div>
                    <div style="float:left;width:150px;height:90px">
                        <img src="http://www.appirio.com/i2/images/badges/pngs/foundry_samurai.png">
                    </div>
                    <div class="divBadgePopupText">
                        <p>
                            <strong>Cloud Foundry Samurai</strong> - Your code cuts like a knife! Awarded for winning fifty contests involving or using Cloud Foundry.</p>
                    </div>
                    <div class="cl">
                    </div>
                </div>
            </div>
            <div class="cl">
            </div></div>
            <hr>
			<div style="margin-left:10px">
            <h2>
                <br>
                <a id="skills" name="skills"></a>“Develop Your Skills” Badges</h2>
            <br>
            <p>
                These badges are awarded to anyone who successfully submits a passing entry to a
                specific contest(s). It lets you learn technologies and apply those skills to hands
                on problems. Learn something new, and let the world know you got skills!</p>
            <div class="developSkillbadges">
                <div class="developSkillbadgeimgdiv" style="width:150px;height:90px;">
                    <img src="http://www.appirio.com/i2/images/badges/pngs/forcecook.png">
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Force.com Cook</strong>
                        <br>
                        Get this badge by placing in a force.com challenge that tests your ability to configure
                        an org and covers the basics of Apex!</p>
                </div>
                <div class="cl">
                </div>
                <div class="developSkillbadgeimgdiv" style="width:150px;height:90px;">
                    <img src="http://www.appirio.com/i2/images/badges/pngs/forcesous.png">
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Force.com Sous Chef </strong>
                        <br>
                        Get this badge by winning two force.com exercises that tests your ability to write
                        Apex and Visualforce and other advanced features!</p>
                </div>
                <div class="cl">
                </div>
                <div class="developSkillbadgeimgdiv" style="width:150px;height:90px;">
                    <img src="http://www.appirio.com/i2/images/badges/pngs/forcemaster.png">
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Force.com Master Chef </strong>
                        <br>
                        Get this badge by winning five challenges that require a force.com app which incorporates all the major capabilities
                        into an app that tests its own performance and evaluates itself!</p>
                </div>
                <div class="cl">
                </div>
            </div>
            <div class="fl">
                <div class="developSkillbadgeimgdiv" style="width:150px;height:90px;margin:0 0 0 10px;">
                    <img src="http://www.appirio.com/i2/images/badges/pngs/foundryapprentice.png">
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Cloud Foundry Apprentice </strong>
                        <br>
                        Get this badge by completing the programming exercise in the language of your choice
                        that shows you know how to use Cloud Foundry as a Platform.</p>
                </div>
                <div class="cl">
                </div>
                <div class="developSkillbadgeimgdiv" style="width:150px;height:90px;margin:0 0 0 10px;">
                    <img src="http://www.appirio.com/i2/images/badges/pngs/foundryjourneyman.png">
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Cloud Foundry Journeyman </strong>
                        <br>
                        Get this badge by winning two programming exercises which test various programming principles
                        and your ability to use various data storage mechanisms in Cloud Foundry.</p>
                </div>
                <div class="cl">
                </div>
                <div class="developSkillbadgeimgdiv" style="width:150px;height:90px;margin:0 0 0 10px;">
                    <img src="http://www.appirio.com/i2/images/badges/pngs/foundryblacksmith.png">
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Cloud Foundry Blacksmith </strong>
                        <br>
                        Get this badge by winning five real world programming exercises that use multiple
                        features of Cloud Foundry, incorporates third party libraries, and connects to various
                        social networks.</p>
                </div>
                <div class="cl">
                </div>
            </div>
            <div class="fl">
                <div class="developSkillbadgeimgdiv" style="width:150px;height:90px;margin:0 0 0 250px;">
                    <img src="http://www.appirio.com/i2/images/badges/pngs/boxer.png">
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Boxer</strong>
                        <br>
                        Get this badge by generating a Boxer API key and submitting your API key in the Boxer badge challenge.</p>
                </div>
                <div class="cl">
                </div>
                <div class="developSkillbadgeimgdiv" style="width:150px;height:90px;margin:0 0 0 250px;">
                    <img src="http://www.appirio.com/i2/images/badges/pngs/boxfeather.png">
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Box Featherweight </strong><br>
                        Get this badge by placing in a Box challenge that tests your ability to configure the basics of the Box API!  </p>
                </div>
<div class="cl">
                </div>
                <div class="developSkillbadgeimgdiv" style="width:150px;height:90px;margin:0 0 0 250px;">
                    <img src="http://www.appirio.com/i2/images/badges/pngs/boxmiddle.png">
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Box Middleweight</strong>
                        <br>
                        Get this badge by winning two Box challenges that test your ability to write a Box integration!  </p>
                </div>
                <div class="cl">
                </div>
                <div class="developSkillbadgeimgdiv" style="width:150px;height:90px;margin:0 0 0 250px;">
                    <img src="http://www.appirio.com/i2/images/badges/pngs/boxheavy.png">
                </div>
                <div class="developSkillbadgetextdiv">
                    <p>
                        <strong>Box Heavyweight</strong>
                        <br>
                        Get this badge by winning five Box challenges that test your ability to build a complex Box application!  </p>
                </div>
                <div class="cl">
                </div>
            </div>
            <div class="cl">
            </div>