<div class='page'>
  <h1 id='heading'>FAQs</h1>

  <p class='big'>The Developer Community is now officially open for business! As a busy consultant trying to juggle life, projects and Facebook status updates, why on earth would you want to devote time to the community and its various challenges? You may be surprised by there are multitude of reasons why you should get involved in the community.</p>

  <ol class="faqs">
        <li>
            <h4>
                Why should I join CloudSpokes?</h4>
            <br>
            There are many reasons to join the industry’s first cross-cloud community. Just
            to get you started, here are our top 15!<br>
            <ul>
                <li><span>Get into the cloud: </span>CloudSpokes and our partners work exclusively in
                    the cloud. If you have been looking for an opportunity to get deep into a cloud
                    environment, this is a good time to do so. </li>
                <li><span>Earn money: </span>You will find that you have a lot in common with other
                    members. This is a great way to meet new people. </li>
                <li><span>Earn money:</span>Who can’t use some extra cash? CoudSpokes challenges are
                    a great way to do what you love to do... and get paid for it. </li>
                <li><span>Learn new stuff: </span>Been itching to try out something new but just don’t
                    have the opportunity to do so? Jump into a challenge involving something you’ve
                    never used before. Not only will you get hands-on practice, but you will also get
                    an invaluable review from peers experienced in that technology. </li>
                <li><span>Get honest feedback:: </span>Any work you submit will be impartially reviewed
                    and scored. This is a great way to take your game to the next level. </li>
                <li><span>Challenge yourself: </span>Are you good enough to win? Are you better than
                    your peers? Are you better than your boss? Challenge them on a head-to-head competition
                    and see who comes out ahead. </li>
                <li><span>Overcome your limits: </span>In CloudSpokes, you can do meaningful work regardless
                    of educational background or geographic location - what matters is the work you
                    submit, not your credentials (or lack thereof). </li>
                <li><span>Unleash your creativity: </span>Apply creativity and knowledge in ways that
                    you could only dream of in your day job. </li>
                <li><span>Mad Props: </span>accumulate feedback, badges, and swag to show the world
                    that you’re a master of cross-cloud development. </li>
                <li><span>Build Community: </span>participate in forums. The forums are the heart of
                    the community. Ask questions and search for answers. Chime-in on hot topics. Mentor
                    other members. </li>
                <li><span>Become a reviewer: </span>Keep the world safe from bad code and learn even
                    more by reviewing other’s work. </li>
                <li><span>Network: </span>You will find that you have a lot in common with other members.
                    This is a great way to meet new people. </li>
                <li><span>Build your resume: </span>Reference winning challenges on your resume as proof
                    of skills / technology knowledge. </li>
                <li><span>Find your next gig: </span>Become recognized as an expert on cross-cloud development,
                    and meet potential employers. </li>
                <li><span>Recruit employees: </span>Your next employee (or startup cofounder) may be
                    a community member.</li>
                <li><span>Be productive: </span>Stop wasting your time, drop that game console, and
                    jump into cloud design and development. Feel good about spending extra time developing
                    your skills, networking, and earning some extra money. </li>
            </ul>
        </li>
        <br>
        <li>
            <h4>
                How do I compete?</h4>
        </li>
        <br>
        It is easy to get started. You just have to join the community, find a challenge
        you’d like to compete in, do amazing work, and submit it. Its all right here in
        our participant guide.
        <br>
        <br>
        <li>
            <h4>
                What are the forums used for?</h4>
        </li>
        <br>
        The forums are the primary means of communication
        amongst members.Forums may be specific to a
        particular challenge, or more general in nature on various cloud-focused topics.
        Cloud Spokes is a competition-oriented community, but the 
            Forums are where we keep it collaborative.
        <br>
        <br>
        <li>
            <h4>
                What does it mean to “submit” for a challenge?</h4>
        </li>
        <br>
        This is where the rubber meets the road. The ultimate goal of this community is
        to obtain quality submissions that satisfy the sponsor’s requirements. This results
        in a win-win situation for all: sponsors obtain high-quality work in a timely fashion;
        members earn prizes and other rewards for their work.
        <br>
        <br>
        <li>
            <h4>
                What is a “review”?</h4>
        </li>
        <br>
        Every competition will have a number of individuals identified as reviewers. Their
        job is to examine each submission and conduct a quantitative and qualitative analysis
        of the submission. This is done using standard scorecards as well as a comparison
        with challenge’s requirements. Each submission is anonymized before the reviewer
        examines it to ensure impartiality and fairness.
        <br>
        <br>
        <li>
            <h4>
                How do I become a reviewer?</h4>
        </li>
        <br>
        As you gain experience in this community and with winning submissions, you may be
        invited to begin reviewing submissions for specific challenges. As a reviewer you
        are not eligible to compete in challenges that you are reviewing. Once you become
        a reviewer, you must periodically submit to existing competitions to maintain your
        reviewer status.
        <br>
        <br>
        <li>
            <h4>
                Are reviewers compensated?</h4>
        </li>
        <br>
        Yes, each reviewer will be compensated for their efforts.
        <br>
        <br>
        <li>
            <h4>
                How do I give you feedback?</h4>
        </li>
        <br>
        Have something to share/say? Thoughts on a new technology, or new technique? Feel
        free to write it up and share it with the community in the forums or email us at <a href="mailto:cloudspokes@appirio.com">cloudspokes@appirio.com</a>.
        <br>
        <br>
        <li>
            <h4>
                Who is eligible to participate in CloudSpokes?</h4>
        </li>
        <br>
        You must be 18 years of older and agree to our Terms of Service... but that’s about
        it. CloudSpokes doesn’t screen for educational background or work experience-- we
        let your work speak for itself.
        <br>
        <br>
        <li>
            <h4>
                How do I get paid?</h4>
        </li>
        <br>
        Currently we are offering payment by check. Check payments are processed once a
        month. We will also work with you via email to complete the necessary paperwork
        for payment.
        <br>
        <br>
        <li>
            <h4>
                Can I request a payout?</h4>
        </li>
        <br>
        No payouts are paid out on a schedule.
        <br>
        <br>
        <li>
            <h4>
                What currency do I get paid in?</h4>
        </li>
        <br>
        All prizes are paid out in US currency.
        <br>
        <br>
        <li>
            <h4>
                How do I get started?</h4>
        </li>
        <br>
    Again, it is easy to get started. You just have to join the community, find a challenge
    you’d like to compete in, do amazing work, and submit it. Welcome to CloudSpokes!
  </ol>
</div>
