<div class="page-heading"><h2 class="melbourne">FAQ</h2></div>

<div class="content-wrapper">


  <ol>
	<% @faqs.each do |faq| %>
	  <li>
	      <h4><%= faq["Name"] %></h4>
	      <p style="padding-top:5px"><%= raw(faq["Answer__c"]) %></p>
	  </li>
	<% end %>
  </ol>
</div>

