<section id='dashboard'>
  <aside class='join-us'>
    <h1>Join Us</h1>
    <p>Participate in challenges, build a diverse portfolio, learn something new, and earn a little cash money on the side too.</p>
    <nav>
      <%= link_to "Join Now", "#", class: 'btn' %>
      <%= link_to "Learn More", "#", class: 'btn light' %>
    </nav>
  </aside>
</section>
<section class='col3'>
  <div class='col'>
  </div>
  <div class='col'>
  </div>
  <div class='col'>
    <iframe width="300" height="250" src="http://www.youtube.com/embed/abMDBbxpsGo?rel=0"
      frameborder="0"></iframe>
  </div>
</section>
