<div class="page"><h1 id='heading' class='upcase'>Cloudspokes Community Terms of Service</h1>
            <br>
            <br>
            <center>
                <h2>
                    Acceptance of Terms.</h2>
            </center>
            <br>
            <br>
            <div style="padding-left: 50px;">
                <p>
                    Appirio, Inc. ("Appirio" or "us" or "we") welcomes you to (and related sub-domains
                    (the "Website"). By using or accessing any part of the Website, you are agreeing
                    to these Terms of Service, and all other policies or notices posted by us on our
                    websites.</p>
                <p>
                    If you do not agree to these Terms of Service, do not use the Website. We can change
                    these Terms of Service at any time without any notice to you. It is your responsibility
                    to review these Terms of Service from time to time for any changes as it creates
                    a binding legal agreement between you and Appirio. If you use the Website after
                    we have changed any of the Terms of Service, you are agreeing to all of the changes.
                </p>
                <p>
                    <b>Permission to Use the Website.</b>
                    </p><div style="padding-left: 20px;">
                        You have our permission to use the Website, but only if:
                        <ul>
                            <li>You are over 18 years old</li>
                            <li>You are using the Website for your own personal use and not for commercial purposes</li>
                            <li>You do not copy the Website (or any part of it)</li>
                            <li>You do not modify the Website (or any part of it)</li>
                            <li>You follow these Terms of Service</li>
                        </ul>
                        <br>
                        <b>Account; Passwords, Security.</b>
                        <p>
                            You may need to set up an account in order to use some of the features of the Website.
                            You may not use a third party's account without permission. When you are setting
                            up your account, you must give us accurate and complete information. This means
                            that you cannot set up an account using a name or contact information that does
                            not apply to you, and you must provide accurate and current information on all registration
                            forms that are part of the Website. You have complete responsibility for your account
                            and everything that happens on your account. This means you need to be careful with
                            your password. If you find out that someone is using your account without your permission,
                            you must let us know immediately. You may not transfer your account to someone else.
                            We are not liable for any damages or losses caused by someone using your account
                            without your permission. However, if we (or anyone else) suffer any damage due to
                            the unauthorized use of your account, you may be liable.
                        </p>
                        <b>Personal Use Only.</b>
                        <p>
                            We are making the Website available to you for your information and personal use
                            only. You may not (and you agree not to) use, copy, distribute, transmit, broadcast,
                            sell, or do anything else with the Website for any other purpose.
                        </p>
                        <b>User Content. </b>
                        <p>
                            You are solely responsible for any User Content you post to the Website, and the
                            consequences of posting or publishing it. By "User Content", we mean any Content
                            you post to the Website. "Content" means information, data, text, software, music,
                            sound, photos, graphics, videos, messages, tags, interactive features, or any other
                            materials. When we say "post", we include posting, uploading, sharing, submitting
                            or otherwise providing User Content in any manner in connection with the Website.
                        </p>
                        <b>Restrictions on User Content and Your Conduct </b>
                        <p>
                            You may not:
                            </p><ul>
                                <li>Use our Website for any illegal purpose</li>
                                <li>Submit User Content that you don’t have the right to submit (including but not
                                    limited to material covered by someone else’s copyright, patent, trade secret, privacy
                                    policy, publicity policy, or any other proprietary pright</li>
                                <li>Disguise in any way the origin of any User Content you submit (including but not
                                    limited to forging headers)</li>
                                <li>Submit any User Content that contains lies or misrepresentations that could damage
                                    Us or anyone else</li>
                                <li>Submit User Content that is obscene, illegal, defamatory, libelous, threatening,
                                    pornographic, harassing, hateful, or encourages criminal conduct, give rise to civil
                                    liability, violate any law, or is otherwise inappropriate</li>
                                <li>Transmit any advertising, promotional materials, junk mail, spam, chain letters,
                                    pyramid schemes or any other solicitation</li>
                                <li>Impersonate anyone else or misrepresent your affiliation with any other person or
                                    entity</li>
                                <li>Use meta tage or any other hidden text utilizing any of our or our suppliers’ names,
                                    products names, or trademarks</li>
                                <li>Upload, launch, post email or transmit any material (including any bot, worm, spider,
                                    script, or virus) that may harm or corrupt this Website, or anyone else’s computer
                                    systems or data</li>
                                <li>Use our Website to harm minors in any way</li>
                                <li>Collect or gather other people’s personal information (including account information)</li>
                                <li>Submit User Content that disparages us or our partners and affiliates</li>
                                <li>Solicit any users of our Website for any commercial purpose</li>
                            </ul>
                            <p>
                                We have the sole right, but not necessarily the obligation, to delete at any time
                                any User Content that violates these rules or that we believe to be inappropriate
                                for any reason.</p>
                        <p></p>
                        <b>Intellectual Property Rights in User Content.</b>
                        <p>
                            If you post User Content, you are making a guarantee to us that you either own all
                            the Content you are posting, or you have the right to post the Content. Furthermore,
                            you are guaranteeing that you have the right to allow us to make your User Content
                            available for others to view and use as part of the Website without requiring that
                            any such use be subject to additional obligations or terms. If you do not have these
                            rights, do not post the Content. By posting your User Content, you do not lose any
                            ownership rights you may have to it. However, unless otherwise governed by a specific
                            contest’s rules, you do grant us a worldwide, irrevocable, non-exclusive, royalty-free,
                            fully-paid, sublicenseable (through multiple tiers of distribution) and transferable
                            license to use, reproduce, modify, distribute, prepare derivative works of, display,
                            and perform your User Content in connection with the Website and our business, in
                            any media formats or in tangible form and through any media channels now known or
                            hereinafter developed. You also grant each user of the Website a non-exclusive royalty-free,
                            fully-paid, sublicenseable and transferable license to access your User Content
                            through the Website, and to use, reproduce, distribute, prepare derivative works
                            of, display and perform your User Content as permitted through the functionality
                            of the Website and under these Terms of Service.
                        </p>
                        <b>User Content you Share becomes Public.</b>
                        <p>
                            You understand that once you post User Content, your content becomes public. We
                            are not responsible for keeping any User Content confidential.
                        </p>
                        <b>We are Not Responsible for User Content.</b>
                        <p>
                            We generally do not review any of the User Content posted by our users. We do not
                            endorse any User Content or support any views, opinions, recommendations, or advice
                            that may be in user submissions. User Content comes from a variety of sources, and
                            we make no promises about the reliability of any source or the accuracy, usefulness,
                            safety, or intellectual property rights of any user submission. You may be offended
                            by User Content that you see on the Website. You may find some of it to be inaccurate,
                            offensive, indecent, or objectionable. However, you agree not to hold us responsible
                            in any way for your use of our Website, including your exposure to User Content.
                        </p>
                        <b>Proprietary Rights.</b>
                        <p>
                            Appirio and its suppliers retain all right, title and interest (including all copyright,
                            trade secret, patent and other rights) in and to the Website and Content which is
                            included in the Website (other than User Content, which is treated separately above).
                            If you give feedback on the Website, for example recommendations for improvements
                            or features, such feedback will be deemed non-confidential and non-proprietary,
                            and implementation of that feedback is owned by us and may become part of the Website
                            without compensation to you. We reserve all rights in and to the Website unless
                            we expressly state otherwise. The Website contains proprietary and confidential
                            information that is protected by applicable intellectual property and other laws.
                        </p>
                        <p>
                            You may not decompile, reverse engineer, disassemble, or otherwise reduce the Website
                            to a human-perceivable form, except and only to the extent that such activity is
                            expressly permitted by applicable law, and in that case, only if you notify us in
                            writing in advance. You may not copy, frameset, enclose or otherwise distribute
                            any part of the Website.</p>
                        <p>
                            All brand, product and service names used in the Website which identify Appirio
                            or our suppliers and our or their proprietary products and services are the trademarks
                            or service marks of Appirio or our suppliers. Nothing in the Website shall be deemed
                            to confer on any person any license or right on the part of Appirio or such supplier
                            with respect to any such image, logo or name.</p>
                        <p>
                            You agree not to disable, interfere, or try to get around any of the features of
                            the Website related to security, preventing or restricting use or copying of any
                            Content, or enforcing the limits on the use of the Website or the Content on the
                            Website.
                        </p>
                        <b>Enforcement of Copyrights.</b>
                        <p>
                            We respect the intellectual property rights of others. You may not use our Website
                            to infringe anyone else's copyright or other intellectual property right. If we
                            find out that you are infringing, we will remove your User Content. We do not have
                            to give you notice that we are removing your User Content. We may also terminate
                            your account if we decide that you are a repeat infringer. We consider a repeat
                            infringer to be a user who has been notified of infringing activity more than twice
                            or who has had User Content removed from our Website more than twice.
                        </p>
                        <b>Notify Us of Infringers</b>
                        <p>
                            If you believe that something on our Website violates your copyright, notify our
                            copyright agent in writing. The contact information for our copyright agent is at
                            the bottom of this section.</p>
                        <p>
                            In order for us to take action, you must do the following in your notice:</p>
                        <ul>
                            <li>provide your physical or electronic signature;</li>
                            <li>identify the copyrighted work that you believe is being infringed;</li>
                            <li>identify the item on our Website that you think is infringing your work and include
                                sufficient information about where the material is located on our Website (including
                                which website) so that we can find it;</li>
                            <li>provide us with a way to contact you, such as your address, telephone number, or
                                e-mail;</li>
                            <li>provide a statement that you believe in good faith that the item you have identified
                                as infringing is not authorized by the copyright owner, its agent, or the law to
                                be used on our Website; and</li>
                            <li>provide a statement that the information you provide in your notice is accurate,
                                and that (under penalty of perjury), you are authorized to act on behalf of the
                                copyright owner whose work is being infringed.</li>
                            <li>Here is the contact information for our copyright agent: GC@appirio.com</li>
                        </ul>
                        <p>
                            Again, we cannot take action unless you give us all the required information.</p>
                        <b>How to Communicate with Us. </b>
                        <p>
                            Only notices about copyright infringement should go to our copyright enforcement
                            department. If you have anything else to communicate with us (like feedback, comments,
                            requests for technical support), you should contact us through our customer service
                            department at [email address]
                        </p>
                        <b>Storage and Availability. </b>
                        <p>
                            We are not a content-archiving service. We do not promise to store or make available
                            on our Website any User Content that you submit, or any other Content, for any length
                            of time. You are solely responsible for keeping back-ups of everything you post
                            on our Website.</p>
                        <p>
                            You acknowledge that temporary interruptions in the availability of the Website
                            may occur from time to time as normal events. Also, we may decide to cease making
                            available the Website or any portion of the Website at any time and for any reason.
                            Under no circumstances will Appirio or its suppliers be held liable for any damages
                            due to such interruptions or lack of availability.</p>
                        <b>Sale of Products</b>
                        <p>
                            We may offer you for sale or download certain Appirio products or services ("Products").
                            Your use of such Products will be subject to licensing terms applicable to such
                            Products, or a separate written agreement between you and Appirio.
                        </p>
                        <b>Links to Other Sites.</b>
                        <p>
                            Our Website may contain links to other websites that we do not own or control. We
                            are not responsible for any of these other websites and any links to these other
                            websites should not be interpreted as an endorsement of any company, content or
                            products. You will not hold us responsible for any aspect of these other websites,
                            including their content, privacy policies, or anything else. You may be exposed
                            to things on other websites that you do not like or that you find offensive. We
                            are not responsible for this, either. You must use your own discretion when you
                            go to other websites. You should also read the terms and conditions and privacy
                            policies of these other websites.
                        </p>
                        <b>Warranty Disclaimer.</b>
                        <p>
                            USE OF THE WEBSITE IS AT YOUR OWN RISK. THE WEBSITE IS PROVIDED ON A "AS IS" AND
                            "AS AVAILABLE" BASIS. APPIRIO AND ITS AFFILIATES, SUPPLIERS AND PARTNERS EXPRESSLY
                            DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT
                            NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A
                            PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>
                        <p>
                            APPIRIO AND ITS AFFILIATES, SUPPLIERS AND PARTNERS MAKE NO WARRANTY THAT (i) THE
                            WEBSITE OR ANY PRODUCTS PURCHASED THROUGH THE WEBSITE WILL MEET YOUR REQUIREMENTS;
                            (ii) THE WEBSITE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; OR (iii) THAT
                            THERE WILL BE NO ERRORS IN THE WEBSITE OR THAT APPIRIO WILL FIX ANY ERRORS. ANY
                            MATERIALS OBTAINED THROUGH USE OF THE WEBSITE ARE OBTAINED AT YOUR OWN DISCRETION
                            AND RISK AND APPIRIO SHALL NOT BE RESPONSIBLE FOR ANY DAMAGE CAUSED TO YOUR COMPUTER
                            OR DATA OR FOR ANY BUGS, VIRUSES, TROJAN HORSES OR OTHER DESTRUCTIVE CODE RESULTING
                            FROM USE OF THE WEBSITE OR ANY CONTENT OBTAINED FROM THE WEBSITE.</p>
                        <p>
                            SOME STATES DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION
                            MAY NOT APPLY TO YOU. YOU MAY ALSO HAVE OTHER LEGAL RIGHTS, WHICH VARY FROM STATE
                            TO STATE.</p>
                        <b>Limitation of Liability.</b>
                        <p>
                            TO THE FULLEST EXTENT PERMITTED UNDER LAW, APPIRIO AND ITS AFFILIATES, SUPPLIERS
                            AND PARTNERS HAVE NO OBLIGATION OR LIABILITY (WHETHER ARISING IN CONTRACT, WARRANTY,
                            TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE) FOR ANY INDIRECT, INCIDENTAL,
                            SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OR LIABILITIES (INCLUDING, BUT NOT LIMITED
                            TO, ANY LOSS OF DATA, REVENUE OR PROFIT) ARISING FROM OR RELATED TO YOUR USE OF
                            THE WEBSITE OR ANY CONTENT PROVIDED BY OR THROUGH THE WEBSITE, EVEN IF WE HAVE BEEN
                            ADVISED OF THE POSSIBILITY OF SUCH DAMAGES IN ADVANCE, AND NOTWITHSTANDING ANY FAILURE
                            OF ESSENTIAL PURPOSE OF ANY KIND. THE FOREGOING LIMITATION APPLIES TO DAMAGES ARISING
                            FROM (I) YOUR USE OR INABILITY TO USE OUR WEBSITE; (II) COST OF PROCUREMENT OF SUBSTITUTE
                            GOODS AND SERVICES RESULTING FROM ANY GOODS OR SERVICES PURCHASED THROUGH OR FROM
                            OUR WEBSITE; (III) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR USER CONTENT; (IV)
                            THIRD PARTY CONTENT MADE AVAILABLE TO YOU THROUGH THE WEBSITE; OR (V) ANY OTHER
                            MATTER RELATING TO THE WEBSITE.
                        </p>
                        <p>
                            NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, APPIRIO'S LIABILITY AND
                            THE LIABILITY OF EACH OF ITS OFFICERS, DIRECTORS, INVESTORS, EMPLOYEES, AGENTS,
                            ADVERTISERS, LICENSORS, SUPPLIERS, SERVICE PROVIDERS AND OTHER CONTRACTORS TO YOU
                            OR ANY THIRD PARTIES UNDER ANY CIRCUMSTANCE IS LIMITED TO A MAXIMUM AMOUNT OF $100.
                        </p>
                        <b>Indemnity.</b>
                        <p>
                            You agree to indemnify and hold harmless Appirio and its affiliates, suppliers,
                            partners, officers, agents, and employees from and against any claim, demand, losses,
                            damages or expenses (including reasonable attorney's fees) arising from any User
                            Content, your use of the Website, your connection to the Website, your violation
                            of these Terms of Service or your violation of any rights of any third-party. Your
                            indemnification obligation will survive the termination of these Terms of Service
                            and your use of the Website.</p>
                        <b>Termination and Suspension.</b>
                        <p>
                            We may terminate or suspend the Website or any part of the Website, terminate or
                            suspend your use of the Website, block any IP address, or remove any of your User
                            Content at any time without cause without any liability to you.
                        </p>
                        <p>
                            Further, we may terminate or suspend your permission to use the Website immediately
                            and without notice upon any violation of these Terms of Service, your failure to
                            pay any fees when due, upon the request of law enforcement or government agencies,
                            for extended periods of inactivity, for unexpected technical issues or problems
                            or for engagement by you in fraudulent or illegal activities. If we terminate your
                            use of the Website for any of these reasons or otherwise for cause, we will not
                            refund any fees you may have paid, whether for access to the Website or for Products
                            (if applicable).</p>
                        <p>
                            Upon any termination we may delete your account, passwords and User Content, and
                            we may bar you from further use of the Website. You understand that we may also
                            continue to make your User Content available on the Website even if your use of
                            the Website is terminated or suspended. You agree that we will have no liability
                            to you or any third party for termination of your account or access to the Website.</p>
                        <b>Export Control.</b>
                        <p>
                            You may not use, export or re-export any Content or any copy or adaptation of such
                            Content, or any product or service offered on the Website, in violation of any applicable
                            laws or regulations, including, without limitation, United States export laws and
                            regulations.
                        </p>
                        <b>Additional Terms.</b>
                        <p>
                            Portions of the Website may be accompanied by additional terms which apply to specific
                            features or areas of the Website. Those additional terms supplement these terms
                            with respect to your use of those features or areas.</p>
                        <b>General Terms.</b>
                        <p>
                            These Terms of Service are governed by laws of the state of California, without
                            regard to its conflict of laws rules. The sole jurisdiction and venue for any claim
                            arising from the Website and these Terms of Service shall be the state and federal
                            courts located in San Mateo, California and each party hereby consents to the exclusive
                            jurisdiction and venue of such courts. These Terms of Service, together with our
                            Privacy Policy and any other legal notices we have published on the Website, constitute
                            the entire agreement between you and us regarding this Website. If a court having
                            proper authority decides that any portion of these Terms of Service is invalid,
                            only the part that is invalid will not apply. The rest of these Terms of Service
                            will still be in effect. If we waive any of our rights under these Terms of Service
                            in any particular instance, it does not mean that we are waiving our rights generally
                            or in the future. Furthermore, just because we may not enforce all our rights all
                            of the time, it does not mean that we are waiving our rights. We may decide to enforce
                            them at a later date. These Terms of Service, and any rights and licenses granted
                            under these Terms of Service, may not be transferred or assigned by you, but may
                            be assigned by us without restriction.
                        </p>
                        <p>
                            </p><div style="text-transform: uppercase">
                                YOU AGREE THAT IF YOU WANT TO SUE US, YOU MUST FILE YOUR LAWSUIT WITHIN ONE YEAR
                                AFTER THE EVENT THAT GAVE RISE TO YOUR LAWSUIT. OTHERWISE, YOUR LAWSUIT WILL BE
                                PERMANENTLY BARRED.</div>
                    </div>
                <p></p>
            </div>
          </div>
