<!-- <div class="bv_playerProfile" bv_options='{"showActivities":true,"showRewards":true}' style=""></div> -->
<div style="width:300px;height:350px;" > 
<div class="bv_playerProfile" bv_options='{"showActivities":false,"showRewards":true}' ></div></div>
  <br/>
<!-- style="width:300px;height:500px;"></div> -->
  
   <script>
    window.BadgevilleAsynchInit = function() {
      Badgeville.extend( Badgeville.Settings, {
        key: '85f33a5f6c9e246b87833b4526eab177',
        domain: 'www.cloudspokes.com'
        // Add other Badgeville.Settings changes

      });
  
Badgeville.crouton = function(){};
Badgeville.Settings.showToast = 0;

  Badgeville.setPlayer({
 		email: '<%= @member["Name"] %>@m.cloudspokes.com'}
	  );
	  
Badgeville.bind('afterCreate:showcase', function(event, widget) {
  if (widget && widget.element) {
    Badgeville('.bv_borderHeader .bv_modalSettings', widget.element.closest('.bv_border')).remove(); // REMOVE SETTINGS BUTTON
  }
});


      Badgeville.ready(function() {
        // Display any Gears or other chores that require Badgeville to be initialized
        
      });
    };
    (function() {
      var s = document.createElement( 'script' );
      s.async = true;
      s.src =  'http://api.badgeville.com/v3/badgeville-current.js';
      document.body.appendChild( s );
    }());
  </script>

