.box
  .box-b
    .box-t
      %a.fl{:href => member_path(recommendation["recommendation_from__r"]["name"])}
        %img{:width => "49px", :height => "49px", :src => recommendation["recommendation_from__r"]["profile_pic"]}
      .text-holder.fr
        %div{:style => "width: 480px; overflow-x: auto; overflow-y: hidden"}
          %p{:style => "padding-bottom: 15px"}= raw(recommendation["recommendation"])
        %span
          %a{:href => member_path(recommendation["recommendation_from__r"]["name"])}= recommendation["recommendation_from__r"]["name"]
          = recommendation["createddate"].to_date.strftime(" %b. %d, %Y")
      .cl