.box
  .box-b
    .box-t
      %a.fl{:href => member_path(member["Name"])}
        %img{:width => "49px", :height => "49px", :src => member["Profile_Pic__c"]}
      .text-holder.fr
        %div{:style => "width: 480px; overflow-x: auto; overflow-y: hidden"}
          %p{:style => "padding-bottom: 15px"}= "MISSING FIELD"
        %span
          %a{:href => member_path(member["Name"])}= recommendation["Name"]
          = recommendation["CreatedDate"].to_date.strftime(", %m/%d/%Y")
      .cl
