.page-heading
  %h2.melbourne
    %cufon.cufon.cufon-canvas{:alt => "Members", :style => "width: 150px; height: 45px;"}
      %cufontext= "All challenges"
.content-wrapper
  .full-width-challenges
    .list-challenges
      %a.fl{:href => member_path(@member["Name"])}
        = "« Back "
      %br
      - @challenges.each do |challenge|
        = render "challenge", :challenge => challenge
      .fr
        = will_paginate @challenges

