%h3 Account settings
.menu.menu-separator
  %ul
    = build_menu("account",selected_item)
%h3 My Stuff
.menu
  %ul
    = build_menu("my",selected_item)
%h3 Review Submissions
.menu
  %ul
    = build_menu("review",selected_item)
