.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl
      = render 'menu', :selected_item => "my_challenges"
      
    .widecolumn.fr
      #project-overview
        %h3 Followed Challenges
        - if @followed_challenges.count == 0 
          %div{:style => "text-align:center"}
            %b No followed challenge found
        - @followed_challenges.each do |followed_challenge|
          = render "challenge", :challenge => followed_challenge, :type => 'watching'

      #project-overview
        %br
        %h3 Active Challenges
        - if @active_challenges.count == 0 
          %div{:style => "text-align:center"}
            %b No active challenge found
        - @active_challenges.each do |active_challenge|
          = render "challenge", :challenge => active_challenge, :type => 'active'

      #project-overview
        %br
        %h3 Past Challenges
        - if @past_challenges.count == 0 
          %div{:style => "text-align:center"}
            %b No past challenge found
        - @past_challenges.each do |past_challenge|
          = render "challenge", :challenge => past_challenge, :type => 'past'
   

