.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl
      = render 'menu', :selected_item => "outstanding_reviews"

    .widecolumn.fr
      #account
        = flash_messages
        %h3 Outstanding reviews
        %p
        - if @challenges.length > 0
          %table{:id => "outstanding-reviews"}
            %thead
              %th{:scope => "col"}
                Challenge
              %th{:scope => "col"}
                Member
              %th{:scope => "col"}
                Submitted
              %th{:scope => "col"}
                Raw Score
              %th{:scope => "col"}
                Review
              %tbody
                - @challenges.each do |record|
                  %tr
                    %td
                      %a{:href => challenge_path(record["Challenge_Participant__r"]["Challenge__r"]["Challenge_Id__c"]), :target => '_blank'}= record["Challenge_Participant__r"]["Challenge__r"]["Name"]
                    %td
                      %a{:href => member_url(record["Challenge_Participant__r"]["Member__r"]["Name"]), :target => '_blank'}= record["Challenge_Participant__r"]["Member__r"]["Name"]
                    %td
                      =Time.parse(record["Challenge_Participant__r"]["Submitted_Date__c"]).strftime("%b. %d at %I:%M %p")
                    %td
                      =record["Total_Raw_Score__c"]
                    %td
                      =link_to("Review", "/account/scorecard/"+record["Challenge_Participant__c"])
        - else
          No challenges for you to review at this time.