.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl
      = render 'menu', :selected_item => "change_password"

    .widecolumn.fr
      #account
        %h3 Reset your password
        = flash_messages
        %p Use the passcode in the email being sent to you to reset your password below.
        %br
        .cl
        = form_tag("/account/password_reset", :name => "form_reset_password", :method => :post)
        %label
          %span
          Passcode:
        %input.txt{:maxlength => 100, :name => "form_reset_password[passcode]"}
        .cl
        %label
          %span
          New password:
        %input.txt{:maxlength => 100, :name => "form_reset_password[new_password]"}
        .cl
        %label
          %span
          New password:
        %input.txt{:maxlength => 100, :name => "form_reset_password[new_password_again]"}
        .cl
        %br
        #button-container
          %a.button{:href => "#", :onclick => "document['form_reset_password'].submit()"}
            %span Submit





