.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl
      = render 'menu', :selected_item => "change_password"

    .widecolumn.fr
      #account
        %h3 Change your password
        = flash[:notice]
        .cl
        = form_tag("/account/a0GU0000000c8xiMAA/password", :name => "form_password", :method => :post)
        %label
          %span
          Old password:
        %input.txt{:maxlength => 100, :name => "form_password[old_password]"}
        .cl
        %label
          %span
          New password:
        %input.txt{:maxlength => 100, :name => "form_password[new_password]"}
        .cl
        %label
          %span
          New password:
        %input.txt{:maxlength => 100, :name => "form_password[new_password]"}
        .cl
        %br
        #button-right.buttons
          %div{:style => "float:left;padding-right:10px;"}
            %a.button{:href => "#", :onclick => "document['form_password'].submit()"}
              %span Submit
          %div{:style => "float:left"}
            %a.button{:href => "/account/a0GU0000000c8xiMAA/password"}
              %span Cancel




