.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl
      = render 'menu', :selected_item => "change_password"

    .widecolumn.fr
      #account
        %h3 Change your password
        = flash_messages
        .cl
        - if @account["Login_Managed_By__c"].eql?('CloudSpokes')
          %p To change your password we will email you a temporary passcode. You will then need to use this passcode to change your password.
          = form_tag("/account/password?reset=true", :name => "form_password")
          %hidden.txt{:maxlength => 100, :name => "form_password[old_password]", :value => "#{current_user.username}"}
          %br
          #button-container
            %a.button{:href => "#", :onclick => "document['form_password'].submit()"}
              %span Send me a passcode
