= stylesheet_link_tag 'member'
= stylesheet_link_tag 'members'

.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl

    .widecolumn.fr
      #account
        %h3 Forgot your password? 
        %p.red
          = flash[:notice]
        %p
          Just enter your CloudSpokes username and we'll send you instructions on how to reset your password.
        .cl
        = form_tag("/forgot_password", :name => "form_forgot_password")
        %label
          %span
          Your username:
        %input.txt{:maxlength => 100, :name => "form_forgot_password[username]"}
        .cl
        %br
        #button-right.buttons
          %div{:style => "float:left;padding-right:10px;"}
            %a.button{:href => "#", :onclick => "document['form_forgot_password'].submit()"}
              %span Send me a new password




