.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl

    .widecolumn.fr
      #account
        %h3 Forgot your password? 
        %p.red
          = flash[:notice]
        %p
          Just enter your email and you'll receive a link to reset it.
        .cl
        = form_tag("/require_password", :name => "form_require_password")
        %label
          %span
          Your username:
        %input.txt{:maxlength => 100, :name => "form_require_password[name]"}
        .cl
        %br
        #button-right.buttons
          %div{:style => "float:left;padding-right:10px;"}
            %a.button{:href => "#", :onclick => "document['form_require_password'].submit()"}
              %span Send me a new password




