.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl

    .widecolumn.fr
      #account
        %p.red
          =flash[:notice]
        %h3 Define a new password 
        .cl
        = form_tag("/reset_password", :name => "form_reset_password", :method => :post)
        %label
          %span
          Passcode:
        %input.txt{:maxlength => 100, :name => "form_reset_password[passcode]"}
        .cl
        %label
          %span
          New password:
        %input.txt{:maxlength => 100, :name => "form_reset_password[new_password]"}
        .cl
        %label
          %span
          New password:
        %input.txt{:maxlength => 100, :name => "form_reset_password[new_password]"}
        .cl
        %br
        #button-right.buttons
          %div{:style => "float:left;padding-right:10px;"}
            %a.button{:href => "#", :onclick => "document['form_reset_password'].submit()"}
              %span Submit




